[submodule "support/puppet/modules/apache"]
	path = support/puppet/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "support/puppet/modules/mysql"]
	path = support/puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "support/puppet/modules/stdlib"]
	path = support/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "support/puppet/modules/concat"]
	path = support/puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "support/puppet/modules/elasticsearch"]
	path = support/puppet/modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
